// NAVIGATION ITEMS
.nav__items {
  list-style-type: none;
  padding: 0;

  li {
    font-size: 1.25rem;
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 8px;

    a {
      text-decoration: none;
      color: $on-primary;
      display: inline-block;
      margin-left: 16px;
    }

    i {
      justify-self: flex-end;
    }
  }
}

.nav__items:nth-of-type(2) {
  margin-top: 60px;
}

// HEADER
.container__header {
  // HEADER TOP
  & .top {
    display: grid;
    grid-template-columns: auto 1fr repeat(3, auto);
    justify-content: center;
    align-items: center;
    gap: 24px;

    input[type="search"] {
      justify-self: flex-start;
      width: 724px;
    }

    img {
      width: 60px;
      height: auto;
      border-radius: 50%;
    }

    h3 {
      white-space: nowrap;
    }
  }
  // HEADER BOTTOM
  & .bottom {
    display: flex;
    align-items: center;
    gap: 24px;
    h2 {
      flex-grow: 1;
      span {
        display: block;
        font-size: 1rem;
      }
    }
    img {
      width: 80px;
      height: auto;
      border-radius: 50%;
    }
  }
}
